.home-content {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.home-content-title {
  font-size: 48px;
  font-weight: 700;
  width: 480px;
  text-align: left;
}

.home-content-nft {
  background: -webkit-linear-gradient(1turn, #43F0FE, #897DFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content-svg {
  position: relative;
  margin-left: 15%;
}

.home-content-button {
  margin-top: 50px;
  width: 160px;
}

.home-content-circular-shadow-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -150px;
  top: -150px;
  background: radial-gradient(36.24% 36.24% at 50% 50%, rgba(67, 240, 254, 0.25) 0%, rgba(67, 240, 254, 0) 100%);
}

.home-content-circular-shadow-2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50px;
  top: 50px;
  background: radial-gradient(36.24% 36.24% at 50% 50%, rgba(137, 125, 254, 0.25) 0%, rgba(137, 125, 254, 0) 100%);
}

.home-page-cards-container {
  margin-top: 10%;
}

.home-page-cards-title {
  font-size: 48px;
  text-align: center;
}

.home-page-cards-description {
  margin-top: 25px;
  font-size: 24px;
  text-align: center;
  color: #777777;
}

.home-page-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.home-page-card-container {
  margin-top: 40px;
}

.home-page-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.home-page-card-text-title {
  font-size: 18px;
  width: fit-content;
}

.home-page-card-text-title-underline {
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.home-page-card-text-title-rare-underline {
  background-color: #0681BA;
}

.home-page-card-text-title-super-rare-underline {
  background-color: #5552B3;
}

.home-page-card-text-title-unique-underline {
  background-color: #DE182F;
}

.home-page-card-text-description {
  margin-top: 7px;
  color: #777777;
}

.home-page-card {
  width: 250px;
  height: 400px;
}
