.home-content {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.home-content-title {
  font-size: 48px;
  font-weight: 700;
  width: 480px;
  text-align: left;
}

.home-content-nft {
  background: -webkit-linear-gradient(1turn, #43F0FE, #897DFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-content-svg {
  position: relative;
  margin-left: 15%;
}

.home-content-button {
  margin-top: 50px;
  width: 160px;
}

.home-content-circular-shadow-1 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -150px;
  top: -150px;
  background: radial-gradient(36.24% 36.24% at 50% 50%, rgba(67, 240, 254, 0.25) 0%, rgba(67, 240, 254, 0) 100%);
}

.home-content-circular-shadow-2 {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50px;
  top: 50px;
  background: radial-gradient(36.24% 36.24% at 50% 50%, rgba(137, 125, 254, 0.25) 0%, rgba(137, 125, 254, 0) 100%);
}

.home-page-cards-container {
  margin-top: 10%;
}

.home-page-cards-title {
  font-size: 48px;
  text-align: center;
}

.home-page-cards-description {
  margin-top: 25px;
  font-size: 24px;
  text-align: center;
  color: #777777;
}
