.container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.background-rectangle {
  position: absolute;
  width: 396px;
  height: 508px;
  z-index: -1;

  border: 2px solid #252525;
  box-sizing: border-box;
  border-radius: 32px;
  transform: rotate(25deg);
}

.background-rectangle-1 {
  left: -100px;
  top: 210px;
}

.background-rectangle-2 {
  left: -85px;
  top: 240px;
}

.background-rectangle-3 {
  left: -70px;
  top: 270px;
}

.background-rectangle-4 {
  right: 0px;
  top: 500px;
}

.background-rectangle-5 {
  right: -15px;
  top: 530px;
}

.background-rectangle-6 {
  right: -30px;
  top: 560px;
}
